html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.moving-up{
  animation: moving-up 1s ease .5s 1 normal forwards;
}
.moving-around{
  margin-bottom:8px ;
  animation: moving-around 1s ease .5s 1 normal forwards;
}
.moving-around:hover{
  transform: translateY(92px);
}
@keyframes moving-up {
	0% {
		opacity: 0.8;
		transform: rotate3d(0);
	}
	80% {
		opacity: 0;
		transform: rotateZ(240deg);

	}
	100% {
		opacity: 1;
		transform: rotateZ(360deg);
  }
}

@keyframes moving-around{
	0% {
		opacity: 0.8;
		transform: scale(0.2);
	}

	80% {
		opacity: 0;
		transform: scale(1.2);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}